<h1 class="text-center">Group Info</h1>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @group.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description.html_safe %>
</p>

<p>
  <strong>Link:</strong>
  <a href="<%= @group.link %>"><%= @group.link %></a>
</p>

<hr />

<%= link_to 'Refresh Group Details', @group, class: "btn btn-sm btn-primary d-inline-block my-1", method: :patch %>

<%= link_to 'Delete Group', @group, class: "btn btn-sm btn-danger d-inline-block my-1", method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Change Calendar Styling', group_style_path(@group), class: "btn btn-sm btn-success d-inline-block my-1" %>
