<nav>
  <div class="nav-mobile">
    <%= link_to(root_path, class: "ca-logo-link" ) do %>
      <img class="ca-logo"src="https://pbs.twimg.com/profile_images/872618954807590912/PUHHM6hV_400x400.jpg" alt="">
      <span>Hive</span>
    <% end %>
    <div id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <ul id="nav-list">
    <% if user_signed_in? %>
      <div class="nav-left">
        <li>
          <%= link_to root_path do %>
            <i class="fas fa-home"></i> Dashboard
          <% end %>
        </li>
        <li>
          <%= link_to events_path do %>
            <i class="fas fa-calendar-alt"></i> Events
          <% end %>
        </li>
        <li>
          <%= link_to groups_path do %>
            <i class="fas fa-users"></i> Groups
          <% end %>
        </li>
      </div>
    <% end %>

    <li id="nav-logo-mid">
      <%= link_to(root_path, class: "ca-logo-link") do %>
        <img class="ca-logo"src="https://pbs.twimg.com/profile_images/872618954807590912/PUHHM6hV_400x400.jpg" alt="">
        <span>Hive</span>
      <% end %>
    </li>

    <% if user_signed_in? %>
      <div class="nav-right">
        <li>
          <%= link_to edit_user_registration_path do %>
            <i class="fas fa-user"></i> Profile
          <% end %>
        </li>
        <li>
          <%= link_to(destroy_user_session_path, method: :delete) do %>
            <i class="fas fa-sign-out-alt"></i> Logout
          <% end %>
        </li>
      </div>
    <% end %>
  </ul>
</nav>