<h1 class="text-center">Events</h1>

<div class="row">
  <div class="col-lg-4 my-auto">

    <%= render 'shared/event_card', event: @selected_event, header: "Selected Event", attending: @attending %>
  </div>

  <div class="col-lg-8">
    <%= month_calendar(attribute: :date, events: @events) do |date, events| %>
      <%= date.day %>

      <% events.each do |event| %>
        <div class="p-1"
          style="background-color: <%= event.group.background_colour %>;">
          <%= link_to event.group.short_name, events_path(event_id: event.id), style: "color: #{event.group.text_colour}" %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>

<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @events.each do |event| %>
      <tr>
        <td><%#= event.name %></td>
        <td><%#= event.date %></td>
        <td><%#= link_to 'Show', event %></td>
        <td><%#= link_to 'Edit', edit_event_path(event) %></td>
        <td><%#= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Event', new_event_path %>
-->