<h1>Events</h1>

<div class="row">
  <div class="col-lg-4">
    <%= render 'pages/event_card', event: @next_event, header: "Your Next Event"%>
  </div>

  <div class="col-lg-8">
    <%= month_calendar(attribute: :date, events: @events) do |date, events| %>
      <%= date.day %>

      <% events.each do |event| %>
        <div class="<%= event.html_class %>">
          <%= event.name %>
        </div>
      <% end %>
    <% end %>
  </div>


</div>





<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.date %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
