<p id="notice"><%= notice %></p>

<h1>Ratings</h1>

<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Drinks</th>
      <th>Talks</th>
      <th>Vibe</th>
      <th>Event</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.food %></td>
        <td><%= rating.drinks %></td>
        <td><%= rating.talks %></td>
        <td><%= rating.vibe %></td>
        <td><%= rating.event %></td>
        <td><%= rating.user %></td>
        <td><%= link_to 'Show', event_rating_path(@event, rating) %></td>
        <td><%#= link_to 'Edit', edit_rating_path(rating) %></td>
        <td><%#= link_to 'Destroy', rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rating', new_event_rating_path %>
