<div class="flex-wrapper">

  <!-- Next Event Card -->
  <%= render 'event_card', event: @next_event, header: "Your Next Event"%>

  <!-- Last Event Card -->
  <div class="card mx-2" style="min-width: 300px">
    <div class="card-header text-center">
      <h2>Your Last Event</h2>
    </div>
    <h2 class="card-title text-center mb-0 mt-3"><%= @last_event.name %></h5>
    <div class="card-body">
      <p class="card-text mb-1">Date: <%= @last_event.date.strftime("%d/%m/%Y") %></p>
      <h4>Please Rate:</h4>
      <%= render 'rating_stars', ratings: @ratings, event: @last_event, links: false %>
      <%= link_to "More Details", event_path(@last_event), class: "mb-1" %>
      <div class="add-buttons mt-2 d-flex justify-content-around">
        <%= link_to "Add Photo", root_path, class: "btn btn-primary" %>
        <%= link_to "Add Comment", root_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<!--
<%#= month_calendar(attribute: :date, events: @events) do |date, events| %>
  <%#= date.day %>

  <%# events.each do |event| %>
    <div class="<%#= event.html_class %>">
      <%#= event.name %>
    </div>
  <%# end %>
<%# end %>
-->
